<a href="https://colab.research.google.com/github/vasa19/Data-Science/blob/master/Statistics/Simple_Random_Sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Simple Random Sampling**

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving startup_funding.csv to startup_funding.csv

## Tutorial

In [ ]:
data = pd.read_csv('startup_funding.csv')
data.head()

   SNo        Date   StartupName  ...  InvestmentType AmountInUSD Remarks
0    0  01/08/2017      TouchKin  ...  Private Equity   1,300,000     NaN
1    1  02/08/2017       Ethinos  ...  Private Equity         NaN     NaN
2    2  02/08/2017  Leverage Edu  ...    Seed Funding         NaN     NaN
3    3  02/08/2017          Zepo  ...    Seed Funding     500,000     NaN
4    4  02/08/2017  Click2Clinic  ...    Seed Funding     850,000     NaN

[5 rows x 10 columns]

In [ ]:
amount = data['AmountInUSD']
amount.head()

0    1,300,000
1          NaN
2          NaN
3      500,000
4      850,000
Name: AmountInUSD, dtype: object

In [ ]:
amount.dropna(inplace=True)

In [ ]:
amount.head()

0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [ ]:
a1 = amount.str.replace(',', '')
a1.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: object

In [ ]:
a1[0]

'1300000'

In [ ]:
a2 = pd.to_numeric(a1)
print(a2[0])
print(type(a2[0]))

1300000
<class 'numpy.int64'>

In [ ]:
pop_avg = a2.mean()
pop_min = a2.min()
pop_max = a2.max()

print(pop_avg)
print(pop_min)
print(pop_max)

12031073.099016393
16000
1400000000

In [ ]:
population = a2
sample_size = 100
sample = population.sample(sample_size, random_state = 1)
sample.shape

(100,)

In [ ]:
sample_avg = sample.mean()
sample_min = sample.min()
sample_max = sample.max()

print(pop_avg, ' ', sample_avg)
print(pop_min, ' ', sample_min)
print(pop_max, ' ', sample_max)

12031073.099016393   24592930.0
16000   18000
1400000000   1400000000

Sampling Error = parameter - statistic

## Assignment 1

In [ ]:
data['CityLocation'] = data['CityLocation'].fillna('null')
data

       SNo        Date  ... AmountInUSD                            Remarks
0        0  01/08/2017  ...   1,300,000                                NaN
1        1  02/08/2017  ...         NaN                                NaN
2        2  02/08/2017  ...         NaN                                NaN
3        3  02/08/2017  ...     500,000                                NaN
4        4  02/08/2017  ...     850,000                                NaN
...    ...         ...  ...         ...                                ...
2367  2367  29/01/2015  ...   4,500,000                                NaN
2368  2368  29/01/2015  ...     825,000                Govt backed VC Fund
2369  2369  30/01/2015  ...   1,500,000                                NaN
2370  2370  30/01/2015  ...         NaN  Strategic Funding, Minority stake
2371  2371  31/01/2015  ...     140,000                                NaN

[2372 rows x 10 columns]

In [ ]:
import re
new_data = data.loc[data['CityLocation'].str.contains('New Delhi|bangalore', flags = re.IGNORECASE, regex = True)]
new_data

       SNo        Date    StartupName  ...  InvestmentType AmountInUSD   Remarks
0        0  01/08/2017       TouchKin  ...  Private Equity   1,300,000       NaN
2        2  02/08/2017   Leverage Edu  ...    Seed Funding         NaN       NaN
5        5  01/07/2017  Billion Loans  ...    Seed Funding   1,000,000       NaN
8        8  05/07/2017      Jumbotail  ...  Private Equity   8,500,000       NaN
11      11  06/07/2017         Minjar  ...    Seed Funding         NaN       NaN
...    ...         ...            ...  ...             ...         ...       ...
2190  2190  28/04/2015       Babajobs  ...  Private Equity  10,000,000  Series B
2191  2191  28/04/2015   Urban Ladder  ...  Private Equity         NaN  Series D
2196  2196  29/04/2015         Tracxn  ...  Private Equity   3,500,000  Series A
2197  2197  29/04/2015           Dazo  ...    Seed Funding         NaN       NaN
2198  2198  29/04/2015       Tradelab  ...    Seed Funding     400,000       NaN

[1022 rows x 10 columns]

In [ ]:
new_data.to_csv('filtered.csv')

In [ ]:
funding = new_data['AmountInUSD']
funding

0        1,300,000
2              NaN
5        1,000,000
8        8,500,000
11             NaN
           ...
2190    10,000,000
2191           NaN
2196     3,500,000
2197           NaN
2198       400,000
Name: AmountInUSD, Length: 1022, dtype: object

In [ ]:
funding.dropna(inplace = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
funding

0        1,300,000
5        1,000,000
8        8,500,000
13       1,000,000
19      18,500,000
           ...
2180     1,800,000
2181       500,000
2190    10,000,000
2196     3,500,000
2198       400,000
Name: AmountInUSD, Length: 627, dtype: object

In [ ]:
funding = funding.str.replace(',', '')
funding1 = pd.to_numeric(funding)
type(funding1[0])

numpy.int64

In [ ]:
population_avg = funding1.mean()
population_avg

17931294.43062201

In [ ]:
population1 = funding1
sample_size1 = 50
sample1 = population1.sample(sample_size1, random_state = 1)

In [ ]:
sample1_avg = sample1.mean()
sample1_avg

5604320.0

In [ ]:
sampling_Error = population_avg - sample1_avg
sampling_Error

12326974.430622011

## Assignment 2

In [ ]:
sample_size2 = 75
sample2 = population1.sample(sample_size2, replace = True, random_state = 1)
sample2

119     104500000
821      60000000
249        750000
477       1000000
437         22500
          ...
303     100000000
861       1350000
1243        30000
2088     15000000
655       1000000
Name: AmountInUSD, Length: 75, dtype: int64

In [ ]:
sample2_avg = sample2.mean()
sample2_avg

16936100.0

In [ ]:
sampling_Error1 = population_avg - sample2_avg
sampling_Error1

995194.4306220114

In [ ]:
print('Sampling Error in Assignment 1 = ', sampling_Error)
print('Sampling Error in Assignment 2 = ', sampling_Error1)

Sampling Error in Assignment 1 =  12326974.430622011
Sampling Error in Assignment 2 =  995194.4306220114